@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
  --ff-main: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-weight: bold;
  display: grid;
  align-items: center;
  padding: 30px;
  font-size: 1.1rem;
  min-height: 100%;
  width: 100%;
  background: url('./assets/images/Stock-Chart.svg') no-repeat center/cover fixed;
  overflow-x: hidden;
  overflow-y: auto;
}

body,
button {
  font-family: var(--ff-main);
  font-weight: bold;
}

.content-container {
  width: 100%;
  max-width: 800px;
  min-height: 100px;
  margin: auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #bbb;
}

::-webkit-scrollbar-thumb {
  background: #333;
}