.header {
    width: 100%;
    position: relative;
    min-height: 80px;
    background: #333;
    padding: 30px 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    color: #fff;
    margin-bottom: 10px;
    cursor: default;
}

.backBtn {
    position: absolute;
    left: 30px;
    background: #f5f5f5;
    color: #333;
    padding: 10px 12px;
    border-radius: 10px;
    cursor: pointer;
}

.headerTitle {
    text-align: center;
}

.listSection {
    background: rgb(218, 218, 218);
    border-radius: 15px;
    width: 100%;
}

.topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    gap: 30px;
}

.topSection > input {
    border: 0;
    outline: 0;
    font-size: 1rem;
    height: 30px;
    padding: 20px 30px 20px 10px;
    box-shadow: 1px 1px 3px #1e1e1e;
    border-radius: 10px;
}

.addBtn {
    background: none;
    padding: 10px 20px;
    font-size: 0.8rem;
    border: 1px solid #555;
    cursor: pointer;
}

.addBtn:hover {
    color: #fff;
    background: #999;
}

.addBtn:active {
    background: #666;
}

.coinsList {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 10px;
    padding-bottom: 30px;
}

.loaderWrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: -70px 250px;
    grid-column: 1/ span 4;
    border-radius: 10px;
}

.nothingFound {
    grid-column: 1/ span 4;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .coinsList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 620px) {
    .header {
        padding-inline: 20px;
    }

    .backBtn {
        display: none;
    }

    .headerTitle {
        font-size: 1rem;
    }
}

@media (max-width: 550px) {
    .topSection {
        flex-direction: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topSection > input {
        width: 100%;
    }

    .addBtn {
        min-width: 100%;
    }

    .addBtn {
        width: 35%;
    }

    .coinsList {
        grid-template-columns: 1fr;
    }
}