.header {
    position: relative;
    width: 100%;
    min-height: 80px;
    background: #333;
    color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 30px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > h1 {
    text-align: center;
    font-size: 1.2rem;
    cursor: default;
}

.header > i {
    position: absolute;
    left: 30px;
    background: #f5f5f5;
    color: #333;
    padding: 10px 15px;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header > i:active {
    box-shadow: 1px 1px 3px #1e1e1e;
}

@media (max-width: 500px) {
    .header {
        padding-block: 0px;
    }
    .header > i {
        display: none;
    }    
}

@media (max-width: 400px) {
    .header {
        padding-inline: 15px;
    }
}