.detailsContainer {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 30px;
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

.field {
    display: flex;
    flex-direction: column;
}

.field:nth-of-type(n+1) {
    border-bottom: 1px solid rgba(51, 51, 51, 0.212);
    padding-bottom: 20px;
    padding-top: 0;
}

.field:nth-of-type(n+4) {
    border: 0;
    padding-bottom: 0;
    padding-top: 10px;
}

.fieldTitle {
    color: #777;
    font-size: 0.7rem;
}

.fieldData {
    font-size: 1rem;
}

@media (max-width: 1000px) {
    .detailsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 30px;
    }
    
    .field {
        width: 45%;
        border-bottom: 1px solid rgba(51, 51, 51, 0.212) !important;
        padding-block: 0 10px!important;
    }
}

@media (max-width: 600px) {
    .field {
        width: 99%;
    }
}